@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body:after {
    content: "";
    display: table;
    clear: both;
}
.floatleft{
    float: left;
    width: 49%;
    clear: none;
}
.floatright{
    float: right;
    width: 50%;
    clear: none;
}
.clear{
    clear:both;
}
#lebenslauf{
    padding-bottom: 1.2rem;
}
#Profilbild{
    width: 300px;
    border: 3px solid green;
    padding: 10px;
}
section{
    border: 2px solid rgba(219, 146, 51, 0.003);
    border-radius: 5px;
    box-shadow: 2px 2px 13px rgb(160, 109, 42);
    padding-left: 10px;
    margin-bottom: 1rem;
}
section:hover{
    box-shadow: 2px 2px 10px rgb(34, 3, 38);
}
td img:hover{
    border: 2px solid rgba(219, 146, 51, 0.003);
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(21, 70, 19);
}

ol li{
    display:inline-block;
}
ol{
    padding: 0px;
}
.logo{
    width: 10rem;
}
h1{
    color:blueviolet;
    font-style: oblique;
    font-family: 'Roboto Mono', monospace;
    text-decoration: underline;
}
header{
    text-align: center;
    font-size: 1.3rem;
}
dt{
   font-weight: bold;
}