@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    background-color: antiquewhite;
    margin: 0 10px;
}
body:after {
    content: "";
    display: table;
    clear: both;
}
.floatleft{
    float: left;
    width: 49%;
    clear: none;
}
.floatright{
    float: right;
    width: 50%;
    clear: none;
}
.clear{
    clear:both;
}
#lebenslauf{
    padding-bottom: 1.2rem;
}
#Profilbild{
    width: 300px;
    border: 3px solid green;
    padding: 10px;
}
section, button{
    border: 2px solid rgba(219, 146, 51, 0.003);
    border-radius: 5px;
    box-shadow: 2px 2px 13px rgb(160, 109, 42);
    padding-left: 10px;
    margin-bottom: 1rem;;
}
section:hover, button:hover{
    box-shadow: 2px 2px 10px rgb(34, 3, 38);
}
td img:hover{
    border: 2px solid rgba(219, 146, 51, 0.003);
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(21, 70, 19);
    padding-left: 10px;
}
ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
ul li{
    /* width: fit-content; */
    flex-basis: 20%;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-right: 2rem;
    list-style-type: none;
    background-color: rgb(183, 249, 227);
    box-shadow: 10px 10px 1px blueviolet;
    border: 2px 2px solid rgb(143, 17, 17);
    border-radius: 5px;
    text-align: center;
}
ul li:hover {
    background-color: rgb(183, 249, 227);
    box-shadow: 10px 10px 10px blueviolet;
    border: 2px 2px solid rgb(143, 17, 17);
}
ul a:link {
    color: black;
}
ul a:visited {
    color: black;
}
ul .icon{
    width: 4rem;
    vertical-align: middle;
    margin: 1rem 0.5rem 1rem 0.4rem
}
ul .icon2 {
    width: 6rem;
    margin-left: -0.9rem;
    vertical-align: middle;
}
ul .icon3 {
    vertical-align: middle;
    width: 7rem;
    margin: -1.6rem 0 -1.6rem 0.1rem;
}
ol li{
    display:inline-block;
}
ol{
    padding: 0px;
}
a{
    text-decoration: none;
}
.logo{
    width: 10rem;
}
h1{
    color:blueviolet;
    font-style: oblique;
    font-family: 'Roboto Mono', monospace;
    text-decoration: underline;
}
header{
    text-align: center;
    font-size: 1.3rem;
}
dt{
   font-weight: bold;
}
nav {
    background-color: antiquewhite;
    position: sticky;
    top: 0px;
    border: 2px solid rgba(219, 146, 51, 0.003);
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgb(160, 109, 42);
}